<!html DOCTYPE>
<head>
  <title>Battle!</title>
  <style type="text/css">
    body {
      background-color: Black;
      color: white;
      padding: 20px;
      font-family: Arial, Verdana, sans-serif;
    }
      .players {
        background-color: blue;
        color: white;
        font-size: 24;
        padding: inherit;
      }
      img.align-left {
          display: block;
          margin: 0px auto;
        }
        img.small {
          width: 300px;
          height: 300px;
        }


  </style>



<body>

  <h1>Battle!</h1>

<div>
 <%=@player_1_name %> vs. <%=@player_2_name %> (<%= @player_2_hp %>HP)
</div>

<div class="attackp2">
<form action="/confirmation" method="post">
  <input type="submit" value="Attack Player 2" >
</form>
</div>

<div> <%= @latest_event %> </div>

<div>
  <p><img src='https://i.ytimg.com/vi/VHSnLtzCcE8/maxresdefault.jpg'
  class=align-left small></p>
</div>

</body>
